---
import { Image } from "astro:assets";
const { content } = Astro.props;
const { panels } = content;
---

<div class="grid grid-cols-1 lg:grid-cols-2 mt-10 max-w-fit">
  {panels?.map((panel) => (
    <div
      style=`
        height: ${panel.height};
        overflow: hidden;
        ${panel.top ? "margin-top: " + panel.top : ""}
      `>
      <Image
        class="comic mx-auto max-w-full object-contain"
        style=`
          user-select: none;
          pointer-events: none;
          ${panel.align === "right" ? "float: right;" : "float: left;"}
        `
        alt={panel.bubble1.text}
        src={panel.image}
        width={424}
        height={200}
        decoding="sync"
        loading="eager"
      />
    </div>
  ))}
</div>
