---
import { markdownify } from "@lib/utils/textConverter";
import Comic from "./Comic.astro";
import CtaButton from "./CtaButton.astro";

const { content } = Astro.props;
const { title, description, comic, cta } = content;
---


<section class="section">
  <div class="container">
    <div class="row">
      <h3 set:html={markdownify(title)} />
      <div class="mt-6">
        <p set:html={markdownify(description)} />
      </div>
    </div>
    {comic && (
      <div class="row justify-center">
        <Comic content={comic} alignment="left" />
      </div>
    )}
    {cta && (
      <div class="text-center mt-4">
        <CtaButton content={cta} />
      </div>
    )}
  </div>
</section>
