---
import { markdownify } from "@lib/utils/textConverter";
import HomapageFeature from "@layouts/function-components/HomapageFeature";

const { key_features } = Astro.props;
const { title, description, feature_list } = key_features;
---

<section class="section key-feature relative">
  <div class="container">
    <div class="row text-start">
      <div class="lg:col-6">
        <h2 set:html={markdownify(title)} />
      </div>
      <div class="mt-6 g:col-7">
        <p set:html={markdownify(description)} />
      </div>
    </div>
    <HomapageFeature feature_list={feature_list} client:load />
  </div>
</section>
