---
import { Image } from 'astro:assets'
import config from "@config/config.json";
import Config from "../../../astro.config.mjs";
const { src, max_width, max_height } = Astro.props;

const maxWidth = max_width || config.site.logo_width;
const maxHeight = max_height || config.site.logo_height;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
} = {
  ...config.site,
  max_width: maxWidth
};

---

<a
  href={Astro.currentLocale !== Config.i18n.defaultLocale ? `/${Astro.currentLocale}/` : `/`}
  class="navbar-brand block">
  {
    src || logo ? (
      <Image
        width={logo_width.replace("px", "") * 2}
        height={logo_height.replace("px", "") * 2}
        src={src ? src : logo}
        alt={title}
        style={{
          height: logo_height.replace("px", "") + "px",
          width: logo_width.replace("px", "") + "px",
          maxWidth: maxWidth.replace("px", "") + "px",
          maxHeight: maxHeight.replace("px", "") + "px",
        }}
      />
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>
