---
import { getI18nStrings, localizeUrl } from "@lib/utils/i18n";
const i18n = getI18nStrings(Astro.currentLocale);
---

<section class="px-5 py-20 xl:py-[120px]">
  <div class="container">
    <div
      class="bg-gradient row justify-center rounded-b-[20px] rounded-t-[20px] px-[30px] pb-[75px] pt-16"
    >
      <div class="lg:col-10">
        <div class="row">
          <div class="lg:col-6">
            <h2 class="h1 text-white">{i18n['cta']['title']}</h2>
            <a class="btn btn-white mt-8" href={i18n['cta']['link']}>{i18n['cta']['label']}</a>
          </div>
          <div class="mt-8 lg:mt-0 lg:col-6">
            <p class="text-white">
              {i18n['cta']['description']}
            </p>
            <p class="mt-4 text-white">
              {i18n['cta']['tellabel']}: <a href={i18n['cta']['tellink']} style="white-space: nowrap">{i18n['cta']['telnumber']}</a>
            </p>
            <p class="mt-4 text-white">
              {i18n['cta']['formlabel']} <a class="underline" href={localizeUrl(i18n['cta']['formlink'], Astro.currentLocale)}>{i18n['cta']['formlinklabel']}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
