---
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import { Image } from 'astro:assets'
import config from "@config/config.json";

const { logo } = config.site;
const entry = await getEntryBySlug("pages", "imprint");
const { Content } = await entry.render();
---

<Base title={entry.data.title}>
  <section class="section">
    <div class="container">
          <h1 class="mb-4" set:html={markdownify(entry.data.title)} />
          <Content />
    </div>
  </section>
</Base>
