---

---
<head>
  <meta http-equiv="refresh" content={ `0; url="http://www.pavingways.com/de/"` } />
  <script>
    window.setTimeout(() => {
      document.getElementById('redirectlink').style.opacity = '1';
    }, 2000);
  </script>
</head>
<body>
<a href="http://www.pavingways.com/de/" style="opacity: 0; transition: opacity; transition-duration: 1000ms;">Please go here for now...</a>
</body>
